body{
    color:red;
    background-color:beige;
    font: size 100%;
    line-height:1.4;
    font-family:monospace;
    font-style:italic;
    font-weight:normal;
    text-align:left;
    text-decoration:none;
    letter-spacing:normal;
    margin:1.2em;
}