body {
    color: black;
    /*background-color: lightgray;*/
    background-image: url(https://github.com/user-attachments/assets/9743cc47-df68-4be3-a4af-51d3abd643bb);
    font-size: 1.5vw;
    line-height: 1.4;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    letter-spacing: normal;
    margin: 100px;
}
body h1{
    color:#188188;
    font-size:3.6vw;
    font-style:italic;
    margin:0px 0px 0px 50px;
}
.MainTitle{
    display: block;
    margin: 0px 0px 0px 80px;
}
body h3 {
    color:#333631;
    font-size:2.27vw;
    font-weight:100;
}
body h4 {
    font-size: 2vw;
    font-style: italic;
    margin:-1.5vw 0vw 0vw 16vw;
}


.BackPage{
    font-size:1.5vw;
    margin-right: 70px;
    text-align: right;
}
.List{
    font-size:1.753vw;
    margin:10px 0px;
}
li{
    font-size: 1.753vw;
    margin: 30px 0px;
}
body s{
    color: gray;
}


body footer{
    position:absolute;
    position:fixed;
    bottom: 10vw;
    right: 10vw;
}
body header{
    width: 100%;
    display: flex;
    background-image: url(https://github.com/user-attachments/assets/1f2095f9-e582-4c3b-9609-0cbda9737a16);
    position:absolute;
    top:0px;
    left:0px;
}


.js-base{
    display: none;
} 

#menuButton {
    display: none;
}

header {
    display: none;
}

.menu {
    margin: 0px;
}