/*PCのCSS*/
body {
    color: black;
    /*background-color: lightgray;*/
    background-image: url(../Background-Image/Kaken-BG-5_4_0.jpg);
    font-size: 1.5vw;
    line-height: 1.4;
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-decoration: none;
    letter-spacing: normal;
    margin: 100px;}
body h1 {
    color: #188188;
    font-size: 3.6vw;
    font-style: italic;
    margin: 9.5vw 0px 0px 50px;  /*左75px*/}
.home{
    text-decoration: underline;}
.MainTitle {
    display: block;
    text-decoration: underline;
    margin: 0px 0px 0px 80px;   /*PC版のみ*/}
body h3 {
    color: #333631;
    font-size: 2.27vw;  /*元35px*/
    font-weight: 100;}
body h4 {
    font-size: 2vw;
    font-style: italic;
    margin: -1.5vw 0vw 0vw 16vw;    /*左75px*/}


.BackPage {
    display:inline-block;
    padding: 4px 9px 3px 9px;
    text-decoration:none;
    color:black;
    background:#bcddff;
    font-weight:400;
    border:solid 3px #ff8c00;
    border-radius:12px; /*未追加*/
    font-size: 1.5vw;
    margin-right: 70px;
    text-align: right;}
.List{
    font-size: 1.753vw;
    margin: 10px 0px;   /*上下のみ10px*/}
/*GASで取得したやつ*/
.spreadsheets--item{
    font-size: 1.753vw;
    margin: 30px 0px;   /*上下のみ10px*/}
/*li{
    font-size: 1.753vw;
    margin: 15px 0px;}*/
body s {
    color: gray;    /*取り消し線の字の色*/}


/*戻るボタン*/
body footer {
    position: absolute;
    position: fixed;
    bottom: 10vw;
    right: 10vw;}


/*ヘッダー*/
body header{
    width: 100%;
    display: flex;
    background-image: url(../Background-Image/Kaken-BG-9_4.jpg);
    position:absolute;
    top:0px;
    left:0px;}
/*旧　body header {
    width: 100%;
    background-image: url(https://github.com/user-attachments/assets/1f2095f9-e582-4c3b-9609-0cbda9737a16);
    display: flex;
}*/
body img{
    position: relative;
    top: 2.8vw;
    left: 8.5vw;}
.title {
    font-size: 2.3vw;
    margin-top: 3vw;
    margin-left: 9vw;}
.menu-group {
    margin-top: 3vw;
    display: flex;
    list-style: none;
    overflow: hidden;
    position: relative;
    left: 3vw;}
.menu-item {
    font-size: 1.8vw;
    margin: 0vw 0vw 0vw 9vw;}
.menu {
    display: none;}


.js-base {
    display: none;}

#menuButton {
    display: none;}

header {
    display: none;}