header {
    /*右寄せ*/
    margin: 0 0 0 auto;
    height: 10px;
    width:  585px;
}
header a{
    /*文字幅*/
    margin: 0 10% 0 0;
    color: black;
}

/*スマホ表示用*/
@media screen and (max-width: 600px) {
    header {
      width: 545px;
    }
    header a{
        margin: 0 9% 0 0;
    }
}